<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="shortcut icon" type="image/x-icon" href="" />
		<title>#{title}</title>
		<link rel='stylesheet' href='https://unpkg.com/tachyons/css/tachyons.min.css'>
	</head>
	<body translate="no">
		<table style="max-width:600px;" class="avenir">
			<tr>
				<td class="pre">See on the web</td>
			</tr>
			<tr>
				<td class="banner"><img src="http://lorempixel.com/g/600/220/" alt=""></td>
			</tr>
			<tr>
				<td class="date">August 27, 2019</td>
			</tr>
			<tr>
				<td class="subhead">
					<h2>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil voluptatum cumque ipsam officia</h2>
				</td>
			</tr>
			<tr>
				<td class="email-body">!{body}</td>
			</tr>
		</table>
	</body>
</html>