body, table[class="wrap"] {
  margin:0;
  padding:0;
  background: #ffffff;
  color: #5c5d5d;
  line-height: 1.4em;
  width: 100%;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
img {
  display: block;
  height: auto;
}
p {
  font-size: 15px;
  font-weight: 300;
  line-height:1.4em;
}
a, a:active {
  color: #00458c;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
p {
  margin: 0 0 1em 0;
}
h1, h2, h3, h4 {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
  margin: 1em 0 .25em 0;
}

h1 {
  font-size: 40px;/*margin-bottom: 0;*/
  margin:0; 
  padding-top: 15px;
  padding-left: 10px;
  line-height: .75em;
}
h2 {
  margin-bottom: 0;
  font-size: 20px;
}
h3 {
  font-size: 18px;
  line-height:1.2em;
}

.preheader {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.4;
  margin: 0.75em 0
}

.section-header h2,
.section-header h2 a {
  margin: 0.25em;
  color:#fff;
  text-transform: uppercase;
}

#content {
  width:100%;
  max-width: 600px;
  background: #f2f6f9;
  margin: 0 auto;
  padding: 0;
}

.email-info {
  text-transform: uppercase;
}

.email-info h1 {
  margin: 0 0 0.15em 0;
  padding: 0;
}

.meta {
  font-size: 12px;
}

.item {
  padding:0 0.75em 1.5em 0.75em;
}

.item-headline {
  font-size: 20px;
  margin-top: 0;
}

.item-copy {
  padding: 0.25em 0.25em 0.25em 0.75em;
}

.message-list li {
  margin: 0.5em 0.5em 0.65em 0.25em;
  font-size: 16px;
}



table [class=header-tn] {
  width:100%;
  max-width:445px;
  height:95px;
}
table [class=header-logo] {
  width: 138px;
  height: 95px;
  vertical-align: middle;
}
table [class=thumb] {
  width:100%;
  max-width: 250px;
}
.thumb-img {
  display: block;
  width:100%;
  max-width: 250px;
}
table td [class=spacing] {
  padding-right:1em; 
  padding-bottom: 2em;
}
table [class=teaser] {
	width:100%;
	max-width: 299px;
}
table [class="news-container"]{
  width:99%;
  margin:0;
  padding:0;
}
table [class="news-icon"]{
  width:100%;
  max-width:60px;
}
table td [class=icon-spacing] {
  padding-right: 1em; 
  padding-bottom: 2em;
}
.icon {
  display: block;
  width:100%;
  max-width: 60px;
}
table [class="yellow-box-left"]{
  width:100%;
  max-width: 270px;
  margin-right: 1em;
}
table [class="yellow-box-right"]{
  width:100%;
  max-width: 270px;
}
.header-date {
  display: block;
  font-size:10px; 
  padding-left:18px; 
  margin: 0;
  text-align: left;
}
.header-logo td {
  padding-right:10px;
  padding-top: 10px;
}
td [class=article-row] {
  padding-right: 1em;
  padding-left: 1em;
}
td [class=article-row-top] {
  padding-right: 1em;
  padding-left: 1em;
  padding-top: 1em;
}
td [class=article-top]{
  padding-top:1em;
}
.blue {
  color: #00458c;
}
.yellow {
  color:#f1b521;
}