@media only screen and (max-device-width: 480px) {
  table [class=header-tn] {
    width: 100% !important;
    max-width: 600px !important;
    height: auto !important;
    text-align: center;
  }
  table [class=header-logo] {
    width: 100% !important;
    max-width: 100% !important;
    text-align: center !important;
  }
  h1 {
    font-size: 55px !important;
    padding-left: 0px !important;
  }
  table [class=thumb] {
      width:100% !important;
      max-width: 600px !important;
    }
  .thumb-img {
      display: block !important;
      width:100% !important;
      max-width: 600px !important;
    }
  table td [class=spacing] {
    padding-right: 0 !important;
    padding-bottom: 1em !important;
  }
  table td [class=icon-spacing] {
    padding-right: .5em !important;
    padding-bottom: 1em !important;
  }
  td [class=article-row] {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  table [class=teaser] {
      width:95% !important;
      max-width: 600px !important;
      margin: 0 auto 1em auto !important;
  }
  table [class="news-container"]{
  margin-bottom:2em !important;
  }
  table [class="news-icon"]{
    max-width:90px !important;
  }
  .icon {
  max-width: 90px !important;
  }
  table [class="yellow-box-left"]{
  max-width: 600px !important;
  margin-bottom: 1em !important;
  }
  table [class="yellow-box-right"]{
  max-width: 600px !important;
  margin-bottom: 1em !important;
  }
  td [class=article-top]{
    padding-right: 1em;
    padding-left: 1em;
  }
  h2 {
    font-size: 30px !important;
  }
  h3 {
    font-size: 24px !important;
  }
  p {
    font-size:20px !important;
  }
}